.card .card-block ul.nav.nav-tabs li.nav-item a.nav-link {
    font-size: 20px;
    padding-bottom: 5px!important;
    padding-top: 5px!important;
    color: #b1b8be;
}

.card .card-block .tab-content.card-block {
    padding: 1.25rem 0.5rem 1rem 0.5rem;
}

.card .card-block .tab-content.card-block .progress-box .progress {
    width: calc(100% - 80px);
    height: 8px;
    text-align: center;
    margin: 0 auto;
    background-color: #E5E5E5;
    border-radius: 30px;
    position: relative;
    overflow: inherit;
}

.card .card-block .tab-content.card-block .progress-box .progress .progress-bar {
    border-radius: 30px;
}

.card .card-block .tab-content.card-block .progress-box .progress .progress-bar label {
    position: absolute;
    top: -15px;
    right: 0;
    color: #9E9E9E;
    font-weight: 600;
    font-size: 11px;
}

.gaugejs-wrap {
    float: right;
}

i.round-icon {
    padding: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

i.stackoverflow {
    background-color: #FFC107;
    color: #fff;
}

.br-theme-fontawesome-stars-o .br-widget a {
    font-size: 14px!important;
}

.results .card:hover {
    box-shadow: 0 0 25px -5px #9e9c9e;
}

.card.product .br-wrapper {
    margin-bottom: 5px!important;
    margin-top: 10px!important;
}

.document {
    color: #0046df;
    background-color: #acc6ff;
}

.graph {
    color: #f20534;
    background-color: #fec5d0;
}

.key {
    color: #009688;
    background-color: #32d8c9;
}

.column {
    color: #e68800;
    background-color: #ffe0b3;
}

.multimodel {
    color: #fd2f18;
    background-color: #ffe5e2;
}

.multivalue {
    color: #339e95;
    background-color: #b6e7e3;
}

.object {
    color: #2ed8b6;
    background-color: #9dded1;
}

.triplestore {
    color: #673ab7;
    background-color: #9a91aa;
}

.owl-theme .owl-nav.disabled {
    display: none!important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 4px 4px;
    background: #d8e2f7;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #4680ff;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -10px;
}

#datamodel-main-chart {
    width: 100%; 
    height: 230px; 
    overflow: hidden; 
    text-align: left;
}

li.recommendation {
    font-size: 13px;
    color: #919aa3;
    margin-top: 10px;
}

li.recommendation span {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #4680ff;
    margin-right: 5px;
}


.slick-prev:before, .slick-next:before {
    color: #4680ff!important;
    font-size: 30px!important;
}

.slick-dots li.slick-active button:before {
    color: #4680ff!important;
}

.slick-dots li button:before {
    font-size: 15px;
    color: #607D8B!important;
}

.thumbnail-title {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    line-height: 2;
    margin-bottom: 0;
    font-weight: 600;
    padding: 3px;
    font-size: 20px;
    text-align: center;
}

.thumbnail-title.blue {
    color: #1a56e2;
    background-color: #acc6ff;
}

.thumbnail-title.green {
    color: #009688;
    background-color: #7cd0c9;
}

.thumbnail-title.pink {
    color: #f63551;
    background-color: #fec5d0;
}

.thumbnail-title.orange {
    color: #FF5722;
    background-color: #ffc775;
}

.thumbnail-title.purple {
    color: #673AB7;;
    background-color: #c5a4ff;
}