

.product-detail {
	border-right: 1px solid #e6e6e6;
}

.br-wrapper.br-theme-fontawesome-stars-o {
	margin: 20px 0 0px;
}

.progress-box .progress {
	width: calc(100% - 80px);
    height: 8px;
    text-align: center;
    margin: 0 auto;
    background-color: #E5E5E5;
    border-radius: 30px;
    position: relative;
    overflow: inherit;
}

.progress-box .progress .progress-bar {
	width: 78%;
    border-radius: 30px;
}

.progress-box .progress .progress-bar label {
	position: absolute;
    top: -24px;
    right: 0;
    color: #aab9c0;
    font-weight: 600;
    font-size: 13px;
}

.bg-c-positive {
	background-color: #26c6da !important;
}

.text-positive {
	color: #28d8b2;
}

.bg-c-neutral{
	background-color: #ffc107!important;
}

.text-neutral {
	color: #1880c9!important;
}

.bg-c-negative {
	background-color: #fa6b5b!important;;
}

.text-negative {
	color: #fa6b5b!important;
}

.bg-c-orange {
	background-color: #FFC107;
}

.bg-c-light-blue {
	background-color: #26c6da;
}


.stars.stars-product-rating {
	display: inline-flex;
}

.text-deep-blue {
	color: #4680ff;
}

.text-light-blue {
	color: #26c6da;
}

.text-strong-pink {
	color: #fc4b6c;
}

.text-light-gray {
	color: #b6d2e8;
}

.text-green {
    color: #28d8b2;
}

/* =========== Profile ===================== */
.property-title {
	font-weight: 600;
    color: #52626a!important;
    margin-bottom: 2px;
    line-height: 16px!important;
}

.value-title {
	font-weight: 600;
    color: #abacaf!important;
    margin-bottom: 0px;
}

.social-icons a {
	font-size: 20px; 
	padding-right: 10px;
}

.dbengine-title {
	font-family: 'Russo One', sans-serif;
}

.alternativeto-title {
	font-size: 30px!important;
	font-family: 'Meera Inimai', sans-serif;
}

i.bullet {
	color: #2cc4cb;
    padding-right: 5px;
    font-size: 10px;
}

/* =========== Content Tabs ================ */
.product-tabs .nav-item {
    width: calc(100%/ 5)!important;
}

.product-tabs .nav-item .slide {
    width: calc(100%/ 5)!important;
}

/* ========== Technical Details Tab =================== */

#stackoverflow-questions-pie {
	width: 122px;
	height: 122px;
}

.comparision-tabs .tab-pane {
	height: 330px; 
	overflow: hidden; 
	text-align: left;
}

.popularity-item {
	width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9ecef;
    display: inline-flex;
}

.popularity-item .technologies-list {
	padding-top: 20px;
	margin-left: 10px;
}

#interest-over-time-chart {
	text-align: left;
}

img.google-logo {
	width: 30px;
	padding-bottom: 20px;
}

.stats-box {
    min-height: 160px;
    margin-bottom: 1.5rem;
    text-align: center;
    background: #fff;
    border: 1px solid #d1d4d7;
    border-radius: 0.25rem;
}

.stats-box.stackoverflow i {
    color: #fff;
    background: #ffb606!important;
}

.stats-box i {
    display: block;
    margin: -1px -1px 0;
    font-size: 40px;
    line-height: 90px;
    background: #d1d4d7;
    border-radius: 0.25rem 0.25rem 0 0;
}

.stats-box .chart-wrapper {
    height: 90px;
    margin: -90px 0 0;
}

.stats-box .chart-wrapper canvas {
    width: 100% !important;
    height: 90px !important;
}

.stats-box ul {
    padding: 10px 0;
    list-style: none;
}

.stats-box ul li:first-child {
    border-right: 1px solid #d1d4d7;
}

.stats-box ul li {
    display: block;
    float: left;
    width: 50%;
}

.stats-box ul li span.quantity {
    display: block;
    font-size: 20px;
    color: #bbbbbb;
}

.stats-box ul li .measure {
    font-size: 10px;
    font-weight: 500;
    color: #d1d4d7;
    text-transform: uppercase;
}

.website-icon {
	font-size: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    line-height: 3.5;
    margin-bottom: 0;
    font-weight: 600;
    padding: 3px;
}

table.properties tbody tr td div {
	display: inline-flex;;
}

tr.active i {
	padding-right: 15px;
    line-height: 15px;
    color: #2cc4cb;
}

tr.inactive {
	color: #b9b7b7;
}

tr.inactive i {
	padding-right: 15px;
    line-height: 15px;
    color: #b9b7b7;
}

.nav-pills-rounded .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #2cc4cb!important;
}

.nav-pills-rounded .nav-item .nav-link:focus, .nav-link:hover {
    background-color: #f3f7f9;
    color: #2cc4cb;
}

.nav-pills-rounded .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 1000px;
}

span canvas {
    width: 100%;
    height: 100%;
}

span.switchery {
	opacity: 1!important;
}

.technologies-list h6.icon-task {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    line-height: 3.5;
    margin-bottom: 0;
    font-weight: 600;
    padding: 3px;
}

.bullet-chart {
  height: 80px;
  width: 100%;
  margin-left: -50px;
}

.bullet-chart svg {
	padding-top: 20px;
}


/* Bullet Charts */
.nvd3.nv-bullet .nv-range.nv-rangeAvg {
	fill: #32b7bd!important;
}

.nvd3.nv-bullet .nv-range.nv-rangeMax {
	fill: #32b7bd!important;
}

.nvd3.nv-bullet .nv-measure {
	fill: #23bda5!important;
}

/* Related Technologies */

.text-legend {
    display: inline-block;
    margin-right: 30px;
}

.left-border {
	border-right: 1px solid #e6e6e6;
}

.team-section img {
    width: 45px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#stackoverflow-related-tech-charts {
	width: 100%;
	height: 250px;
}

#github-related-tech-charts {
	width: 100%;
	height: 250px;
}

#status-list {
	border-left: 1px solid #e6e6e6;
}

.number-color {
	color: #919aa3!important;
    font-size: 17px;
}

.peity {
    width: 100px;
    height: 25px;
}

#compare-table > tbody > tr > td .br-theme-fontawesome-stars-o {
    margin-top: 0px;
}

#compare-table > tbody > tr > td .br-theme-fontawesome-stars-o .br-widget a {
	font-size: 15px;
}
.jqstooltip {
  width: auto !important;
  height: auto !important;
}

#recommended-questions-stackoverflow-chart {
	width: 100%;
	height: 350px;
}

#alternativeto-recommendations {
    height: 300px;
}

.counter-number-group {
    font-size: 40px;
    color: #b2b2b2;
    padding-bottom: 0px;
    display: flex;
}

.counter-label {
    color: #b2b2b2;
}

.pie-progress-container {
    width: 50%;
}

.pie-progress {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pie-progress-xs {
    max-width: 70px;
}

.pie-progress .pie-progress-icon, .pie-progress-content, .pie-progress-label, .pie-progress-number {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pie-progress-xs .pie-progress-icon {
    font-size: 35px;
    font-style: normal;
    color: #cccccc;
}

.pie-progress-svg {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.pie-progress svg {
    width: 100%;
}

.pie-progress-svg svg {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

#sentiment-doughnut-chart {
    height: 130px;
    width: 100%;
}

#scatter-sentiment svg {
  height: 400px;
}

.sentiment-legend .legend-point {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    position: absolute;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

ul.list-unstyled.mb-5 {
    margin-bottom: 5px!important;
}

ul.list-unstyled li .text-size-base i {
    padding-right: 5px;
}
.text-size-base.mb-5.mt-5 {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

table#comments-table {
    width: 100%;
}

table#comments-table tr td.comment {
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
}

.icon-block {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    justify-content: center;
    vertical-align: middle;
    font-size: 50px;
    line-height: 80px;
    color: #fff;
    box-shadow: 0 2px 12px -3px rgba(0,0,0,0.5);
}

.social-box {
    min-height: 160px;
    margin-bottom: 1.5rem;
    text-align: center;
    background: #fff;
    border: 1px solid #d1d4d7;
}

.social-box i {
    display: block;
    margin: -1px -1px 0;
    font-size: 40px;
    line-height: 90px;
    background: #d1d4d7;
}

.social-box.facebook i {
    color: #fff;
    background: #3b5998;
}

.social-box .chart-wrapper {
    height: 90px;
    margin: -90px 0 0;
}

.social-box .chart-wrapper canvas {
    width: 100% !important;
    height: 90px !important;
}

.social-box ul {
    padding: 10px 0;
    list-style: none;
}

.social-box ul li {
    display: block;
    float: left;
    width: 50%;
}

.social-box ul li:first-child {
    border-right: 1px solid #d1d4d7;
}

.social-box ul li strong {
    display: block;
    font-size: 20px;
}

.social-box ul li span {
    font-size: 10px;
    font-weight: 500;
    color: #d1d4d7;
    text-transform: uppercase;
}

.social-box.google i {
    color: #fff;
    background: #4680ff;
}

.social-box.hackernews i {
    color: #fff;
    background: #FF9800;
}

.social-box.performance i {
    color: #fff;
    background: #28D8B2;
}

.widget-card-1 i.stack-overflow {
    background-color: #ffc107;
    color: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    /* top: -15px; */
    font-size: 25px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* color: #fff; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.widget-card-1 i.github {
    /* background-color: #4680ff; */
    color: #4680ff;
    width: 50px;
    height: 50px;
    position: absolute;
    /* top: -15px; */
    font-size: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* color: #fff; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.owl-nav.disabled {
    display: none;
}

.owl-dots {
    margin-top: -20px!important;
}

.nav-tabs .nav-link.disabled {
    color: #868e96;
    background-color: #f5f6fa;
    border-color: transparent;
}