<div class="text-center" style="margin-top: 10%; margin-bottom: 10%;width:100%">
							<i class="icofont-search-stock" style="font-size: 200px;color: #e5e6e8;display: block;"></i>
							<small class="text-muted">There's not data for this chart</small>
						</div>