<div style="
    text-align: center;
    color: #dddddd;
    margin-top: 10px;
    margin-bottom: 20px;
"><div style="
    padding-bottom: 10px;
"><i class="icofont icofont-chart-line " style="
    font-size: 70px;
  "></i></div>
<small class="text-muted">There's no data for this chart</small></div>