<div class="m-b-20 text-center">
	<div class="text-muted">GOOGLE QUERIES BY YEAR</div>
	<div class="text-center m-t-20 m-b-10 text-cyan">
		<i class="fa fa-google f-50"></i>
	</div>
	<small class="text-muted">Sorry but there aren't google queries for this product</small>
</div>