<div class="m-t-20 text-center">
	<i class="icofont icofont-comment  f-70 text-muted" style="color: #c9c5c5!important;display: block;"></i>
	<small class="text-muted">Sorry, but there aren't any commentaries</small>
</div>