{% load get_summary %}
{% load count_words %}
{% load get_percentage %}

<div class="col-lg-12">
	<div class="row results">
		{% for n in results %}
		<div class="col-lg-4">
			<div class="card product" {% if forloop.first %}data-intro="Every card represents a possible match, with the stats of the project" data-step="2"{% endif %}>
				<div class="card-header p-b-10">
					<div class="media">
						<a class="media-left media-middle p-r-10" href="#">
							{% if n.thumbnail %}
							<img class="media-object img-60 lazyload" data-src="{{ n.thumbnail }}" alt="Thumbnail">
							{% else %}
							<h6 class="thumbnail-title {% cycle 'blue' 'green' 'pink' 'orange' 'purple' %}">
								{{ n.name|title|make_list|first }}
							</h6>
							{% endif %}
						</a>
						<div class="media-body media-middle">
							<div class="company-name">
								<div class="gaugejs-wrap sparkline" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Recorevered Data" {% if forloop.first %}data-intro="The gauge represents the percentage of data recovered of the crawled pages, actually we search in 7 pages" data-step="3"{% endif %}>
				                    <canvas data-toggle="mini-gauge" data-value="{% get_percentage n.counter max_sames %}" width="34" height="34"></canvas>
				                    <span class="value" style="font-size: 9px"> {% get_percentage n.counter max_sames %}%</span>
                  				</div>
								<h4 class="p-b-5 f-20">{{ n.name|title }}</h4>
								<select name="rating" data-toggle="rating" data-current-rating="{{ n.total_rating }}" autocomplete="off">
									<option value="" label="0"></option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="card-block">
					<ul class="nav nav-tabs md-tabs" role="tablist">
						<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Description" class="nav-item gray-tooltip" {% if forloop.first %}data-intro="The first tab shows a brief description and then a chart with the number of google quieries made every year" data-step="4"{% endif %}>
							<a class="nav-link active" data-toggle="tab" data-uri="{{ n.uri }}" href="#description-{{ n.uri }}" role="tab">
								<i class="ti-bookmark-alt"></i>
							</a>
							<div class="slide"></div>
						</li>
						<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Drivers" class="nav-item" {% if forloop.first %}data-intro="Shows the languages with more projects in github related with the product" data-step="5"{% endif %}>
							<a class="nav-link nosql-drivers" data-toggle="tab" data-uri="{{ n.uri }}" href="#drivers-{{ n.uri }}" role="tab">
								<i class="ti-plug"></i>
							</a>
							<div class="slide"></div>
						</li>
						<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Performance"  class="nav-item" {% if forloop.first %}data-intro="Shows the percentage of comments in HackerNews related with the product and their performance and their general sentiment" data-step="6"{% endif %}>
							<a class="nav-link nosql-performance" data-toggle="tab" data-uri="{{ n.uri }}" href="#performance-{{ n.uri }}" role="tab">
								<i class="ti-timer"></i>
							</a>
							<div class="slide"></div>
						</li>
						<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Interest"  class="nav-item" {% if forloop.first %}data-intro="Shows the timeline of comments in HackerNews" data-step="7"{% endif %}>
							<a class="nav-link nosql-popularity" data-toggle="tab" data-uri="{{ n.uri }}" href="#popularity-{{ n.uri }}" role="tab">
								<i class="icofont icofont-chart-line"></i>
							</a>
							<div class="slide"></div>
						</li>
					</ul>
					<div class="tab-content card-block">
						<div class="tab-pane active" id="description-{{ n.uri }}" role="tabpanel" style="min-height: 230px;">
							<div style="height: 210px;">
								<p class="text-muted m-b-0">
									{% if n.summary|count_words %}
										{{ n.summary|truncatechars:100 }}...
									{% else %}
										{{ n.other_summaries|get_summary|truncatechars:100 }}...
									{% endif %}
								</p>
								<div data-toggle="interest-over-time-chart" id="interest-time-chart-data-{{ n.uri }}" data-uri="{{ n.uri }}" class="m-t-20">
									
								</div>
								<div>
									<span id="interest-span-{{ n.uri }}" class="pull-right visit-chart-title" style="font-size: 16px;padding-top: 10px;color: rgb(204, 204, 204);"></span>
								</div>
								
								
							</div>
							{% if n.datamodels %}
							<div class="p-t-20" {% if forloop.first %}data-intro="Every icon shows the data model supported by the product" data-step="8"{% endif %}>
								{% for d in n.datamodels %}
								{% if 'document' in d %}
								<i class="round-icon ti-notepad document" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Document"></i>

								{% elif 'graph'  in d %}
								<i class="round-icon fa fa-connectdevelop graph" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Graph"></i>
	
								{% elif 'key value' in d %}
								<i class="round-icon ti-key key" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Key-Value"></i>
									
								{% elif 'column'  in d %}
								<i class="round-icon ti-layout-column3 column" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Column"></i>

								{% elif 'multimodel' in d %}
								<i class="round-icon ti-layers-alt multimodel" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Multimodel"></i>
									
								{% elif 'multivalue' in d %}
								<i class="round-icon ti-check-box multivalue" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="MultiValue"></i>
									
								{% elif 'object' in d %}
								<i class="round-icon ti-package object" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Object"></i>
									
								{% elif 'triplestore' in d %}
								<i class="round-icon fa fa-list-ol triplestore" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Triplestore"></i>
								{% endif %}
								{% endfor %}
							</div>
							{% endif %}
							<div class="text-right p-t-10">
							<a href="{% url 'nosql:nosql_detail' uri=n.uri %}" class="btn btn-cyan waves-effect waves-light btn-sm"> View Info
							</a>
					</div>
						</div>
						<div class="tab-pane" id="drivers-{{ n.uri }}" role="tabpanel">
						</div>
						<div class="tab-pane" id="performance-{{ n.uri }}" role="tabpanel">
						</div>
						<div class="tab-pane" id="popularity-{{ n.uri }}" role="tabpanel">
							
						</div>
					</div>
					
				
					
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!-- pagination -->
<nav aria-label="...">
	<ul class="pagination justify-content-center m-t-20 m-b-20">
		{% with page=results %}
			{% if page.has_previous %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1">Previous</a>
			</li>
			{% else %}
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1">Previous</a>
			</li>
			{% endif %}

			{% for p in page.paginator.page_range %}
				{% if forloop.counter == page.number %}
				<li class="page-item active">
					<a class="page-link" href="?page={{ p }}">
						{{ p }}<span class="sr-only">(current)</span>
					</a>
				</li>
				{% else %}
				<li class="page-item">
					<a class="page-link" href="?page={{ p }}">{{ p }}</a>
				</li>
				{% endif %}
			{% endfor %}
		
			{% if page.has_next %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
			</li>
			{% else %}
			<li class="page-item disabled">
				<a class="page-link" href="#">Next</a>
			</li>
			{% endif %}
		{% endwith %}
	</ul>
</nav>
