{% load staticfiles %}
<div class="dt-responsive table-responsive">
	<table id="compare-table" data-toggle="data-table" class="table table-bordered nowrap">
		<thead>
			<tr>
				<th>
					<span class="text-muted">Name</span>
				</th>
				<th>
					<span class="text-muted">Popularity</span>
				</th>
				<th>
					<span class="text-muted">Performance</span>
				</th>
				<th>
					<span class="text-muted"># Langs</span>
				</th>
				<th>
					<span class="text-muted">Languages</span>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for similar in similars %}
			<tr>
				<td>{{ similar.name }}</td>
				<td class="text-center">
					<canvas data-toggle="sparkline" width="146" height="41" data-interest="{% for i in similar.interest_over_time %}{{ i.num_queries }}{% if not forloop.last %},{% endif %}{% endfor %}" data-years="{% for i in similar.interest_over_time %}{{ i.year }}{% if not forllop.last %},{% endif %}{% endfor %}"></canvas>
				</td>
				<td data-order="{{ similar.sentiment }}" data-toggle="tooltip" title="{{ similar.rating }}">
					<select name="rating" data-toggle="rating" data-current-rating="{{ similar.rating }}" autocomplete="off">
						<option value="" label="0"></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</td>
				<td data-order="{{ similar.number_languages }}">{{ similar.number_languages }}</td>
				<td data-order="{{ similar.number_languages }}">
					<div class="m-b-5">
					{% for lang in similar.languages %}
						<span class="label label-cyan m-b-5 p-r-5 p-l-5">
							{{ lang }}
						</span>
						{% if forloop.counter|divisibleby:6 %}
						</div>
						<div class="m-b-5">
						{% endif %}
					{% endfor %}
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>