<div class="dt-responsive table-responsive">
	<table id="compare-table" data-toggle="data-table" class="table table-bordered nowrap">
		<thead>
			<tr>
				<th>
					<span class="text-muted">Name</span>
				</th>
				<th>
					<i class="ti-stack-overflow f-30 text-muted"></i>
				</th>
				<th>
					<i class="fa fa-github f-30 text-muted"></i>
				</th>
				<th>
					<i class="ti-sharethis-alt f-25 text-muted"></i>
				</th>
				<th>
					<span class="dbengine-title text-muted f-25" style="line-height: 1;">
					DB
					</span>
				</th>
				<th>
					<span class="text-muted f-30" style="line-height: 1;">
					a
					</span>
				</th>
				<th>
					<span class="text-muted">
					Popularity
					</span>
				</th>
				<th>
					<span class="text-muted">
					Performance
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for similar in similars %}
			<tr>
				<td>{{ similar.name }}</td>
				<td data-order="{{ similar.stackoverflow }}">{{ similar.stackoverflow }}</td>
				<td data-order="{{ similar.repositories }}">{{ similar.repositories }}</td>
				<td data-order="{{ similar.stackshare_votes }}">{{ similar.stackshare_votes }}</td>
				<td data-order="{{ simiar.dbengine_rank }}">{{ similar.dbengine_rank }}</td>
				<td data-order="{{ similar.alternativeto }}">{{ similar.alternativeto_likes }}</td>
				<td class="text-center">
					<canvas data-toggle="sparkline" width="146" height="41" data-interest="{% for i in similar.interest_over_time %}{{ i.num_queries }}{% if not forloop.last %},{% endif %}{% endfor %}" data-years="{% for i in similar.interest_over_time %}{{ i.year }}{% if not forllop.last %},{% endif %}{% endfor %}"></canvas>
				</td>
				<td data-order="{{ similar.sentiment }}" data-toggle="tooltip" title="{{ similar.rating }}">
					<select name="rating" data-toggle="rating" data-current-rating="{{ similar.rating }}" autocomplete="off">
						<option value="" label="0"></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>