<div style="
    text-align: center;
    color: #dddddd; margin-top: 40px;
"><div style="
    padding-bottom: 10px;
"><i class="icofont icofont-chart-line " style="
    font-size: 60px;
  "></i></div>
<small class="text-muted">There's no data for this chart</small></div>