{% extends "base.html" %}
{% load staticfiles %}
{% load percentage_difference %}

{% block title %}Results{% endblock %}

{% block styles %}
<!-- Owl Caroulsel -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/owl-carousel/owl.carousel.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "vendor/owl-carousel/owl.theme.default.css" %}">

<!-- Amcharts -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/amcharts/plugins/export/export.css" %}">

<!-- GaugeJs -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/gauge/gauge.min.css" %}">

<!-- Quick Tour css -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/introjs/introjs.css" %}">

<!-- Slick -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/slick-1.8.0/slick/slick.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "vendor/slick-1.8.0/slick/slick-theme.css" %}">
<!-- Custom -->
<link rel="stylesheet" type="text/css" href="{% static "assets/app/css/cards.css" %}">

{% endblock %}

{% block content %}
<div class="pcoded-wrapper">
	<div>
		<div class="pcoded-inner-content">

			<div class="main-body">
				<div class="page-wrapper p-t-0">
					<div class="element-wrapper">
						<h6 class="element-header m-b-0">
							Sentiment By Data Model
						</h6>
					</div>
					<div id="datamodel-main-chart" data-intro="The chart shows the comment for every data model and their general sentiment" data-step="1">
					</div>
					<hr>

					{% if results %}
					<h4 class="m-b-20 p-l-10 p-t-30">
						<b>{{ total }}</b> Search Results Found
					</h4>
					{% endif %}
					 
					<div class="page-body">
						<div class="row">

							<div class="col-lg-9">
								{% include "cards.html" %}
							</div>

							<div class="col-lg-3">
								{% include "miniSearchForm.html" %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static "vendor/gauge/gauge.min.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/underscore/underscore.js" type="text/javascript" %}"></script>

<!-- amcharts -->
<script src="{% static "vendor/amcharts/amcharts.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/amcharts/gauge.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/amcharts/serial.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/amcharts/pie.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/amcharts/themes/light.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/amcharts/plugins/export/export.min.js" %}" type="text/javascript"></script>

<script src="{% static "vendor/owl-carousel/owl.carousel.min.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/slick-1.8.0/slick/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "vendor/introjs/intro.js" %}" type="text/javascript"></script>


<script type="text/javascript">

$(document).ready(function() {

	$( '.lazyload' ).each( function(){
        //* set the img src from data-src
        $( this ).attr( 'src', $( this ).attr( 'data-src' ) );
    });

	dataModelsMainChart = [
		{% for d in views_by_datamodels %}
			{
				"category": "{{ d.name|upper }}",
				"value1": {{ d.positives }},
				"value2": {{ d.negatives }}
			}{% if not forloop.last %},{% endif %}
		{% endfor %}
	];

	guidesDataModelsMainChart = [
		{% for d in views_by_datamodels %}
			{
			    "label": "{{ d.count }}",
			    "category": "{{ d.name|upper }}",
			    "inside": true,
			    "fontSize": 25,
			    "color": "#4680ff",
			    "value1": {{ d.positives }},
			    "value2": {{ d.negatives }}
			}{% if not forloop.last %},{% endif %}
		{% endfor %}
	];
	
});

</script>
<script src="{% static "assets/app/js/cards-charts.js" %}" type="text/javascript"></script>

{% endblock %}