{% if interest %}
<canvas id="interest-over-time-chart-canvas-{{ uri }}" data-toggle="canvas-chart" data-years="{% for i in interest %}{{ i.year }}{% if not forloop.last %},{% endif %}{% endfor %}" data-interest="{% for i in interest %}{{ i.queries }}{% if not forloop.last %},{% endif %}{% endfor %}" data-difference="{{ interest_difference }}" style="width: 100%;height: 100px;"></canvas>
{% else %}
<div class="text-center" style="color: #dddddd;">
	<div class="p-b-10">
		<i class="icofont-chart-line f-60"></i>
	</div>
	<small class="text-muted">There's no data for this chart</small>
</div>
{% endif %}
