<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-header-text">
					Links
				</h5>
			</div>
			<div class="card-block">
				<table id="links-table" class="table table-bordered nowrap">
					<thead>
						<tr>
							<th>URL</th>
							<th>Score</th>
						</tr>
					</thead>
					<tbody>
						{% for l in links %}
						<tr>
							<td>
								<a href="{{ l.url }}">{{ l.url|truncatechars:100 }}</a>
							</td>
							<td data-order="{{ l.score }}">
								{{ l.score|floatformat:"0" }}				
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>