{% load get_summary %}
{% load count_words %}
{% load get_percentage %}

<div class="page-header card m-t-30">
	<div class="row align-items-end">
		<div class="col-lg-12">
			<div class="page-header-title">
				<i class="icofont-search-2 bg-c-blue m-r-20"></i>
				<div class="d-inline">
					<h4>Not Results Found But We Have Some Recommendations Based On</h4>
					<ul>
						<li class="recommendation">
							<span></span>
							Languages: Based on influences between languages and shared programming paradigms
						</li>
						<li class="recommendation">
							<span></span>
							Data Models: Based on same data models and licenses
						</li>
						<li class="recommendation">
							<span></span>
							Performance: The NoSQLs with the best performance
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% if similar_languages %}
	<div class="element-wrapper">
		<h6 class="element-header m-b-30">
			<strong>{{ similar_languages|length }}</strong> Based on Languages
		</h6>
	</div>
	<div class="row">
		<div class="multiple-items col-md-12">
		{% for n in similar_languages %}
			<div class="col-md-4">
				<div class="card product" {% if forloop.first %}data-intro="Every card represents a possible match, with the stats of the project" data-step="2"{% endif %}>
					<div class="card-header p-b-10">
						<div class="media">
							<a class="media-left media-middle p-r-10" href="#">
								<img class="media-object img-60" src="http://html.codedthemes.com/guru-able/files/assets/images/browser/chrome.png" alt="Generic placeholder image">
							</a>
							<div class="media-body media-middle">
								<div class="company-name">
									<div class="gaugejs-wrap sparkline" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Recorevered Data" {% if forloop.first %}data-intro="The gauge represents the percentage of data recovered of the crawled pages, actually we search in 7 pages" data-step="3"{% endif %}>
					                    <canvas data-toggle="mini-gauge" data-value="{% get_percentage n.counter max_sames %}" width="34" height="34"></canvas>
					                    <span class="value" style="font-size: 9px"> {% get_percentage n.counter max_sames %}%</span>
	                  				</div>
									<h4 class="p-b-5 f-20">{{ n.name|title }}</h4>
									<select name="rating" data-toggle="rating" data-current-rating="{{ n.total_rating }}" autocomplete="off">
										<option value="" label="0"></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="card-block">
						<ul class="nav nav-tabs md-tabs" role="tablist">
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Description" class="nav-item gray-tooltip"  {% if forloop.first %}data-intro="The first tab shows a brief description and then a chart with the number of google quieries made every year" data-step="4"{% endif %}>
								<a class="nav-link active" data-toggle="tab" data-uri="{{ n.uri }}" href="#similar-languages-description-{{ n.uri }}" role="tab">
									<i class="ti-bookmark-alt"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Drivers" class="nav-item" {% if forloop.first %}data-intro="Shows the languages with more projects in github related with the product" data-step="5"{% endif %}>
								<a class="nav-link nosql-drivers" data-toggle="tab" data-uri="{{ n.uri }}" href="#similar-languages-drivers-{{ n.uri }}" role="tab">
									<i class="ti-plug"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Performance"  class="nav-item" {% if forloop.first %}data-intro="Shows the percentage of comments in HackerNews related with the product and their performance and their general sentiment" data-step="6"{% endif %}>
								<a class="nav-link nosql-performance" data-toggle="tab" data-uri="{{ n.uri }}" href="#similar-languages-performance-{{ n.uri }}" role="tab">
									<i class="ti-timer"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Interest"  class="nav-item" {% if forloop.first %}data-intro="Shows the timeline of comments in HackerNews" data-step="7"{% endif %}>
								<a class="nav-link nosql-popularity" data-toggle="tab" data-uri="{{ n.uri }}" href="#similar-languages-popularity-{{ n.uri }}" role="tab">
									<i class="icofont icofont-chart-line"></i>
								</a>
								<div class="slide"></div>
							</li>
						</ul>
						<div class="tab-content card-block">
							<div class="tab-pane active" id="similar-languages-description-{{ n.uri }}" role="tabpanel" style="min-height: 230px;">
								<div style="height: 210px;">
									<p class="text-muted m-b-0">
										{% if n.summary|count_words %}
											{{ n.summary|truncatechars:100 }}...
										{% else %}
											{{ n.other_summaries|get_summary|truncatechars:100 }}...
										{% endif %}
									</p>
									<div data-toggle="interest-over-time-chart" id="interest-time-chart-data-{{ n.uri }}" data-uri="{{ n.uri }}" class="m-t-20">
										
									</div>
									<div>
										<span id="interest-span-{{ n.uri }}" class="pull-right visit-chart-title" style="font-size: 16px;padding-top: 10px;color: rgb(204, 204, 204);"></span>
									</div>
									
									
								</div>
								{% if n.datamodels %}
								<div class="p-t-20" {% if forloop.first %}data-intro="Every icon shows the data model supported by the product" data-step="8"{% endif %}>
									{% for d in n.datamodels %}
									{% if 'document' in d %}
									<i class="round-icon ti-notepad document" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Document"></i>

									{% elif 'graph'  in d %}
									<i class="round-icon fa fa-connectdevelop graph" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Graph"></i>
		
									{% elif 'key value' in d %}
									<i class="round-icon ti-key key" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Key-Value"></i>
										
									{% elif 'column'  in d %}
									<i class="round-icon ti-layout-column3 column" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Column"></i>

									{% elif 'multimodel' in d %}
									<i class="round-icon ti-layers-alt multimodel" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Multimodel"></i>
										
									{% elif 'multivalue' in d %}
									<i class="round-icon ti-check-box multivalue" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="MultiValue"></i>
										
									{% elif 'object' in d %}
									<i class="round-icon ti-package object" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Object"></i>
										
									{% elif 'triplestore' in d %}
									<i class="round-icon fa fa-list-ol triplestore" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Triplestore"></i>
									{% endif %}
									{% endfor %}
								</div>
								{% endif %}
								<div class="text-right p-t-10">
							<a href="{% url 'nosql:nosql_detail' uri=n.uri %}" class="btn btn-primary waves-effect waves-light btn-sm"> View Info
							</a>
						</div>
							</div>
							<div class="tab-pane" id="similar-languages-drivers-{{ n.uri }}" role="tabpanel">
							</div>
							<div class="tab-pane" id="similar-languages-performance-{{ n.uri }}" role="tabpanel">
							</div>
							<div class="tab-pane" id="similar-languages-popularity-{{ n.uri }}" role="tabpanel">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% endif %}

{% if datamodels_and_licenses %}
	<div class="element-wrapper">
		<h6 class="element-header m-b-30">
			<strong>{{ datamodels_and_licenses|length }}</strong> Based on Data Models and Licenses
		</h6>
	</div>
	<div class="row">
		<div class="multiple-items col-md-12">
			{% for n in datamodels_and_licenses %}
			<div class="col-md-4">
				<div class="card product" {% if forloop.first %}data-intro="Every card represents a possible match, with the stats of the project" data-step="2"{% endif %}>
					<div class="card-header p-b-10">
						<div class="media">
							<a class="media-left media-middle p-r-10" href="#">
								<img class="media-object img-60" src="http://html.codedthemes.com/guru-able/files/assets/images/browser/chrome.png" alt="Generic placeholder image">
							</a>
							<div class="media-body media-middle">
								<div class="company-name">
									<div class="gaugejs-wrap sparkline" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Recorevered Data">
					                    <canvas data-toggle="mini-gauge" data-value="{% get_percentage n.counter max_sames %}" width="34" height="34"></canvas>
					                    <span class="value" style="font-size: 9px"> {% get_percentage n.counter max_sames %}%</span>
	                  				</div>
									<h4 class="p-b-5 f-20">{{ n.name|title }}</h4>
									<select name="rating" data-toggle="rating" data-current-rating="{{ n.total_rating }}" autocomplete="off">
										<option value="" label="0"></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="card-block">
						<ul class="nav nav-tabs md-tabs" role="tablist">
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Description" class="nav-item gray-tooltip">
								<a class="nav-link description active" data-toggle="tab" data-uri="{{ n.uri }}" href="#datamodel-based-description-{{ n.uri }}" role="tab">
									<i class="ti-bookmark-alt"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Drivers" class="nav-item">
								<a class="nav-link nosql-drivers" data-toggle="tab" data-uri="{{ n.uri }}" href="#datamodel-based-drivers-{{ n.uri }}" role="tab">
									<i class="ti-plug"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Performance"  class="nav-item">
								<a class="nav-link nosql-performance" data-toggle="tab" data-uri="{{ n.uri }}" href="#datamodel-based-performance-{{ n.uri }}" role="tab">
									<i class="ti-timer"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Interest"  class="nav-item">
								<a class="nav-link nosql-popularity" data-toggle="tab" data-uri="{{ n.uri }}" href="#datamodel-based-popularity-{{ n.uri }}" role="tab">
									<i class="icofont icofont-chart-line"></i>
								</a>
								<div class="slide"></div>
							</li>
						</ul>
						<div class="tab-content card-block">
							<div class="tab-pane active" id="datamodel-based-description-{{ n.uri }}" role="tabpanel" style="min-height: 230px;">
								<div style="height: 210px;">
									<p class="text-muted m-b-0">
										{% if n.summary|count_words %}
											{{ n.summary|truncatechars:100 }}...
										{% else %}
											{{ n.other_summaries|get_summary|truncatechars:100 }}...
										{% endif %}
									</p>
									<div data-toggle="interest-over-time-chart" id="interest-time-chart-data-{{ n.uri }}" data-uri="{{ n.uri }}" class="m-t-20">
										
									</div>
									<div>
										<span id="interest-span-{{ n.uri }}" class="pull-right visit-chart-title" style="font-size: 16px;padding-top: 10px;color: rgb(204, 204, 204);"></span>
									</div>
									
									
								</div>
								{% if n.datamodels %}
								<div class="p-t-20">
									{% for d in n.datamodels %}
									{% if 'document' in d %}
									<i class="round-icon ti-notepad document" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Document"></i>

									{% elif 'graph'  in d %}
									<i class="round-icon fa fa-connectdevelop graph" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Graph"></i>
		
									{% elif 'key value' in d %}
									<i class="round-icon ti-key key" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Key-Value"></i>
										
									{% elif 'column'  in d %}
									<i class="round-icon ti-layout-column3 column" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Column"></i>

									{% elif 'multimodel' in d %}
									<i class="round-icon ti-layers-alt multimodel" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Multimodel"></i>
										
									{% elif 'multivalue' in d %}
									<i class="round-icon ti-check-box multivalue" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="MultiValue"></i>
										
									{% elif 'object' in d %}
									<i class="round-icon ti-package object" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Object"></i>
										
									{% elif 'triplestore' in d %}
									<i class="round-icon fa fa-list-ol triplestore" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Triplestore"></i>
									{% endif %}
									{% endfor %}
								</div>
								{% endif %}
								<div class="text-right p-t-10">
							<a href="{% url 'nosql:nosql_detail' uri=n.uri %}" class="btn btn-primary waves-effect waves-light btn-sm"> View Info
							</a>
						</div>
							</div>
							<div class="tab-pane" id="datamodel-based-drivers-{{ n.uri }}" role="tabpanel">
							</div>
							<div class="tab-pane" id="datamodel-based-performance-{{ n.uri }}" role="tabpanel">
							</div>
							<div class="tab-pane" id="datamodel-based-popularity-{{ n.uri }}" role="tabpanel">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if best_performance %}
	<div class="element-wrapper">
		<h6 class="element-header m-b-30">
			<strong>{{ best_performance|length }}</strong> Based on Performance
		</h6>
	</div>
	<div class="row">
		<div class="multiple-items col-md-12">
			{% for n in best_performance %}
			<div class="col-md-4">
				<div class="card product" {% if forloop.first %}data-intro="Every card represents a possible match, with the stats of the project" data-step="2"{% endif %}>
					<div class="card-header p-b-10">
						<div class="media">
							<a class="media-left media-middle p-r-10" href="#">
								<img class="media-object img-60" src="http://html.codedthemes.com/guru-able/files/assets/images/browser/chrome.png" alt="Generic placeholder image">
							</a>
							<div class="media-body media-middle">
								<div class="company-name">
									<div class="gaugejs-wrap sparkline" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Recorevered Data">
					                    <canvas data-toggle="mini-gauge" data-value="{% get_percentage n.counter max_sames %}" width="34" height="34"></canvas>
					                    <span class="value" style="font-size: 9px"> {% get_percentage n.counter max_sames %}%</span>
	                  				</div>
									<h4 class="p-b-5 f-20">{{ n.name|title }}</h4>
									<select name="rating" data-toggle="rating" data-current-rating="{{ n.total_rating }}" autocomplete="off">
										<option value="" label="0"></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="card-block">
						<ul class="nav nav-tabs md-tabs" role="tablist">
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Description" class="nav-item gray-tooltip">
								<a class="nav-link active" data-toggle="tab" data-uri="{{ n.uri }}" href="#performance-based-description-{{ n.uri }}" role="tab">
									<i class="ti-bookmark-alt"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Drivers" class="nav-item">
								<a class="nav-link nosql-drivers" data-toggle="tab" data-uri="{{ n.uri }}" href="#performance-based-drivers-{{ n.uri }}" role="tab">
									<i class="ti-plug"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Performance"  class="nav-item">
								<a class="nav-link nosql-performance" data-toggle="tab" data-uri="{{ n.uri }}" href="#performance-based-performance-{{ n.uri }}" role="tab">
									<i class="ti-timer"></i>
								</a>
								<div class="slide"></div>
							</li>
							<li data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Interest"  class="nav-item">
								<a class="nav-link nosql-popularity" data-toggle="tab" data-uri="{{ n.uri }}" href="#performance-based-popularity-{{ n.uri }}" role="tab">
									<i class="icofont icofont-chart-line"></i>
								</a>
								<div class="slide"></div>
							</li>
						</ul>
						<div class="tab-content card-block">
							<div class="tab-pane active" id="performance-based-description-{{ n.uri }}" role="tabpanel" style="min-height: 230px;">
								<div style="height: 210px;">
									<p class="text-muted m-b-0">
										{% if n.summary|count_words %}
											{{ n.summary|truncatechars:100 }}...
										{% else %}
											{{ n.other_summaries|get_summary|truncatechars:100 }}...
										{% endif %}
									</p>
									<div data-toggle="interest-over-time-chart" id="interest-time-chart-data-{{ n.uri }}" data-uri="{{ n.uri }}" class="m-t-20">
										
									</div>
									<div>
										<span id="interest-span-{{ n.uri }}" class="pull-right visit-chart-title" style="font-size: 16px;padding-top: 10px;color: rgb(204, 204, 204);"></span>
									</div>
									
									
								</div>
								{% if n.datamodels %}
								<div class="p-t-20">
									{% for d in n.datamodels %}
									{% if 'document' in d %}
									<i class="round-icon ti-notepad document" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Document"></i>

									{% elif 'graph'  in d %}
									<i class="round-icon fa fa-connectdevelop graph" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Graph"></i>
		
									{% elif 'key value' in d %}
									<i class="round-icon ti-key key" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Key-Value"></i>
										
									{% elif 'column'  in d %}
									<i class="round-icon ti-layout-column3 column" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Column"></i>

									{% elif 'multimodel' in d %}
									<i class="round-icon ti-layers-alt multimodel" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Multimodel"></i>
										
									{% elif 'multivalue' in d %}
									<i class="round-icon ti-check-box multivalue" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="MultiValue"></i>
										
									{% elif 'object' in d %}
									<i class="round-icon ti-package object" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Object"></i>
										
									{% elif 'triplestore' in d %}
									<i class="round-icon fa fa-list-ol triplestore" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Triplestore"></i>
									{% endif %}
									{% endfor %}
								</div>
								{% endif %}
								<div class="text-right p-t-10">
							<a href="{% url 'nosql:nosql_detail' uri=n.uri %}" class="btn btn-primary waves-effect waves-light btn-sm"> View Info
							</a>
						</div>
							</div>
							<div class="tab-pane" id="performance-based-drivers-{{ n.uri }}" role="tabpanel">
							</div>
							<div class="tab-pane" id="performance-based-performance-{{ n.uri }}" role="tabpanel">
							</div>
							<div class="tab-pane" id="performance-based-popularity-{{ n.uri }}" role="tabpanel">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endif %}