{% load get_bigger_sentiment %}
<h6 class="card-section-title">
	Performance
</h6>
{% if sentiments.negative > 0 or sentiments.positive > 0  or sentiments.neutral > 0%}
<canvas id="{{ uri }}-performance-chart" width="250", height="100"  data-positive="{{ sentiments.positive }}" data-neutral="{{ sentiments.neutral }}" data-negative="{{ sentiments.negative }}" data-total="{{ sentiments.total }}"></canvas>

<div class="p-t-20" style="display: inline-flex;">
	{% with sentiments|get_bigger_sentiment as final_sentiment %}
 	{% if final_sentiment == 'positive' %}
	<span class="square-icon positive">
		<i class="icofont-laughing"></i>
	</span>
	<span class="text-muted p-t-5 f-12">
		Mostly Positive
	</span>
	{% elif final_sentiment == 'negative' %}
	<span class="square-icon negative">
		<i class="icofont-sad"></i>
	</span>
	<span class="text-muted p-t-5 f-12">
		Mostly Negative
	</span>
	{% else %}
	<span class="square-icon neutral">
		<i class="icofont-expressionless"></i>
	</span>
	<span class="text-muted p-t-5 f-12">
		Mostly Neutral
	</span>
	{% endif %}
	{% endwith %}
</div>
<div class="text-left text-muted p-t-5">
		<small>From <span class="f-w-600" style="color: #36a2eb;">{{ sentiments.total }}</span> comments</small>
</div>
{% else %}
{% include "emptyData.html" %}
{% endif %}
<hr class="m-t-0">
<small class="text-muted">Based on the amount of comments and their performance sentiment</small>
<div class="text-right p-t-10">
						<a href="{% url 'nosql:nosql_detail' uri=uri %}" class="btn btn-cyan waves-effect waves-light btn-sm"> View Info
							</a>
					</div>